@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

body {
  background-color: #000; /* Dark background */
  color: white; /* Default text color */
}

/* Optional: Style links for better visibility */
a {
  color: white;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.page-container {
  max-width: 1200px; /* Set a consistent maximum width */
  min-height: 80vh; /* Make sure the content fills the screen */
  margin: 0 auto; /* Center the content horizontally */
  padding: 2rem; /* Add consistent padding */
}

.page-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
}

.page-content {
  margin-top: 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  background-color: #4c49ea;
  color: white;
  padding: 2rem 0;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* Ensure the header spans the full width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0; /* Remove excessive margin to avoid misalignment */
}

footer {
  background-color: #343a40;
  color: white;
  padding: 2rem 0;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* Ensure the header spans the full width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

footer p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}

ul li .navbar-brand {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
}

ul:hover li .navbar-brand {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

ul li .navbar-brand:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}

ul li .navbar-brand:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9b234;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
  border-radius: 1.5rem;
}

ul li .navbar-brand:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;
  position: relative;
  border-radius: 28px;
}

.add-to-cart-container {
  position: absolute;
  /* top: 10px; Adjust as needed */
  /* right: 10px; Adjust as needed */
  z-index: 10; /* Ensure it appears on top */
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.form-check {
  color: white;
}

.mt-5 h2 {
  color: white;
}
/* <div
  class="checkbox-wrapper-1"
  > <input
  id="example-1"
  class="substituted"
  type="checkbox"
  aria-hidden="true"
  /
  > <label
  for="example-1"
  > Checkbox</label
  > </div
  >  */
.checkbox-wrapper-1 label {
  color: white;
}
.checkbox-wrapper-1 {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Add spacing between items */
}

.checkbox-item {
  display: flex;
  align-items: center; /* Align checkbox and label vertically */
}

.checkbox-item input[type="checkbox"] {
  margin-right: 8px; /* Add spacing between checkbox and label */
}

.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-1 [type="checkbox"].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-wrapper-1 [type="checkbox"].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset,
    0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
      no-repeat center,
    white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}
.checkbox-wrapper-1 [type="checkbox"].substituted:enabled:active + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted:enabled
  + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
.checkbox-wrapper-1 [type="checkbox"].substituted:checked + label:before {
  background-color: #3b99fc;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
.checkbox-wrapper-1
  [type="checkbox"].substituted:checked:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted:checked:enabled
  + label:active:before {
  background-color: #0a7ffb;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper-1 [type="checkbox"].substituted:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper-1 [type="checkbox"].substituted:focus:active + label:before,
.checkbox-wrapper-1 [type="checkbox"].substituted:focus + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper-1 [type="checkbox"].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type="checkbox"].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:enabled
  + label:active:before {
  background-color: #444;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.checkbox-wrapper-1 [type="checkbox"].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:checked:enabled:active
  + label:before,
.checkbox-wrapper-1
  [type="checkbox"].substituted.dark:checked:enabled
  + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper-1 [type="checkbox"].substituted + label {
  -webkit-user-select: none;
  user-select: none;
}

.list-group .list-group-item {
  background-color: #121212;
  color: white;
  border: 1px solid #4c49ea; /* Ensure border is explicitly defined */
  border-radius: 2rem;
  margin: 10px; /* Adjust margin if necessary */
  position: relative; /* Ensure proper stacking context */
  z-index: 1; /* Prevent overlap issues */
}

.checkoutText {
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.checkoutCards {
  background-color: #121212;
  color: white;
  border: 1px solid #4c49ea; /* Explicitly define border width and style */
  border-radius: 2rem;
  margin: 10px;
  padding: 10px;
}

.custom-row {
  display: flex;
  align-items: center; /* Vertically centers content */
}

.card-body {
  text-align: center; /* Horizontally centers text */
}

.clickCart {
  font-weight: 600;
  color: #e44002;
}